<a href="https://colab.research.google.com/github/Swalbak/algorithm-study/blob/main/algorithm_class/ipynb/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_3%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 매개 변수 n이 입력되었을 때, n의 각 자릿수를 반대로 나열하여 새로운 정수를 반
환하는 함수 desc를 직접 구현하세요.

▪ 단, reverse( ) 사용 X

In [3]:
def desc(num):
    res = ""
    while num > 0:
        res += str(num % 10)
        num //= 10

    return int(res)

desc(12345678)

87654321

2. N개의 자연수가 입력되면 각 자연수를 뒤집고 그 뒤집은 수가 소수이면 그 수를 출력하라.

In [5]:
num = int(input())
num_list = list(map(int, input().split()))

def reverse(num):
    return desc(num)

def isPrime(num):
    is_prime = True
    for i in range(2, num//2+1):
        if num % i == 0:
            is_prime = False
            break

    return is_prime

result = []
for num in num_list:
    res_num = reverse(num)
    if isPrime(res_num):
        result.append(str(res_num))

print(" ".join(result))

5
32 55 62 3700 250
23 73

3. 높이가 V미터인 나무 막대를 오를 때, 낮에 A미터, 밤에 B미터를 미끄러진다. 정상에 올라간 이후는 미끄러지지 않을 때, 모두 올라가려면 며칠이 걸리는가?

In [ ]:
A, B, V = map(int, input().split())

days = (V - A) // (A- B) + 1
if (V - A) % (A - B) != 0:
    days += 1

print(days)

100 99 1000000000
999999901

4. N명의 수학점수에서 평균에서 가장 가까운 학생은 몇 번째 학생인지 출력하라. 단, 평균과 가장 가까운 점수가 여러개라면 높은 점수를 답으로, 점수가 같다면 학생번호가 빠른 학생을 답으로 한다.

In [ ]:
stu_num = int(input())
math_score = list(map(int, input().split()))

score_sum = sum(math_score)
mean = score_sum / stu_num

if mean % 1 >= 0.5:
    mean = int(mean) + 1
else:
    mean = int(mean)

min_diff_index = 0

for i in range(1, stu_num):
    diff = mean - math_score[i]
    if abs(mean - math_score[min_diff_index]) > abs(diff):
        min_diff_index = i
    elif abs(mean - math_score[min_diff_index]) == abs(diff):
        min_diff_index = i if math_score[min_diff_index] < math_score[i] else min_diff_index


print(mean, min_diff_index+1)

10
45 73 66 87 92 67 75 79 75 80
74 7

5. N개의 수로 구성된 수열에서 인덱스가 이웃한 수들을 더해 M을 만드는 경우의 수를 구하는 프로그램을 작성하라.

In [9]:
def count_n(M, i):
    if i == len(num_list):
        return 0
    
    M -= num_list[i]
    if M == 0:
        return 1
    elif M < 0:
        return 0
    
    return count_n(M, i+1)

In [10]:
N, M = list(map(int, input().split()))
num_list = list(map(int, input().split()))

count = 0
for i in range(N):
    count += count_n(M, i)
    
print(count)

8 3
1 2 1 3 1 1 1 2
5

6. 스도쿠 정답 확인 프로그램 작성

In [13]:
board = []
board_size = 9
board_sum = sum(range(1, board_size+1))
is_correct = True

for _ in range(board_size):
    row = list(map(int, input().split()))
    board.append(row)

for row in range(0, board_size):
    col_sum = 0
    sqr_sum = 0

    for col in range(0, board_size):
        col_sum += board[col][row]
        sqr_sum += board[3 * (row//3) + (col//3)][3 * (row%3) + col%3]
    if sum(board[row]) != board_sum or col_sum != board_sum or sqr_sum != board_sum:
        is_correct = False
        break

if is_correct:
    print('YES')
else:
    print('No')

1 4 3 6 2 8 5 7 9
5 7 2 1 3 9 4 6 8
9 8 6 7 5 4 2 3 1
3 9 1 5 4 2 7 8 6
4 6 8 9 1 7 3 5 2
7 2 5 8 6 3 9 1 4
2 3 7 4 8 1 6 9 5
6 1 9 2 7 3 8 4 5
8 5 4 3 9 6 1 2 7
No

위의 문제 인덱스 확인

In [11]:
for row in range(9):
    for col in range(9):
        print(3*(row//3)+(col//3), 3*(row%3)+col%3)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
0 3
0 4
0 5
1 3
1 4
1 5
2 3
2 4
2 5
0 6
0 7
0 8
1 6
1 7
1 8
2 6
2 7
2 8
3 0
3 1
3 2
4 0
4 1
4 2
5 0
5 1
5 2
3 3
3 4
3 5
4 3
4 4
4 5
5 3
5 4
5 5
3 6
3 7
3 8
4 6
4 7
4 8
5 6
5 7
5 8
6 0
6 1
6 2
7 0
7 1
7 2
8 0
8 1
8 2
6 3
6 4
6 5
7 3
7 4
7 5
8 3
8 4
8 5
6 6
6 7
6 8
7 6
7 7
7 8
8 6
8 7
8 8